.njba-content-grid-section-wrapper h1,h2,h3,h4,h5,h6,p,ul{margin: 0px;}
a , a:hover a:focus , a:active{	text-decoration:none;}
.njba-filter-dective{display: none;}
.njba-image-responsive{display:block;max-width:100%;height:auto;}
.njba-blog-posts-col-2 { width: 16.66%;float: left; }
.njba-blog-posts-col-5 { width: 20%;float: left; }
.njba-blog-posts-col-3 { width: 25%;float: left; }
.njba-blog-posts-col-4 { width: 33.33%; float: left;}
.njba-blog-posts-col-6 { width: 50%; float: left;}
.njba-blog-posts-col-12 { width: 100%;float: left; }
.njba-blog-row img {width: 100%;}
.njba-blog-posts-grid h1,
.njba-blog-posts-grid h2,
.njba-blog-posts-grid h3,
.njba-blog-posts-grid h4,
.njba-blog-posts-grid h5,
.njba-blog-posts-grid h6{margin: 0;}
.njba-blog-posts-grid .njba-post-wrapper {padding: 10px;}
.njba-blog-posts-grid .njba-content-grid{background-color: #ffffff; margin: 15px 0;border: 1px solid #dddddd;padding: 16px; position: relative;overflow: hidden;transition: all 0.3s;}
.njba-content-grid-image {overflow: hidden;}
.njba-content-grid-contant h1 {font-size: 20px;padding: 10px 0; font-weight: normal;}
.njba-content-grid-contant ul {list-style: none;padding: 0;}
.njba-content-grid-contant ul li {display: inline-block;color: #afafaf;}
.njba-content-grid-contant ul li a {color: #afafaf;display: inline-block;font-size: 14px;text-transform: capitalize;}
.njba-content-grid-contant ul li span {display: inline-block;color: #afafaf;margin: 0 5px;}
.njba-content-grid-section-wrapper .njba-content-grid-contant ul li:last-child span { display: none !important;}
.njba-content-grid-contant p {font-size: 15px;font-weight: normal;line-height: 24px;padding: 10px 0;}
.njba-style-1 .njba-content-grid:hover {box-shadow: 0 0 6px 3px #5f5f5f;}
.njba-content-grid-section-wrapper .njba-flip-box-wrap.njba-style-1 .njba-face.njba-front .njba-flip-box-section{padding: 15px;background: #F9F9F9;border: 1px solid #eeeeee;margin: 0;}
.njba-content-grid-section-wrapper ul {list-style: none;padding: 0;    margin: 0;}
.njba-content-grid-section-wrapper ul li {display: inline-block;color: #afafaf;}
.njba-content-grid-section-wrapper ul li span {display: inline-block;color: #afafaf;margin: 0 5px;}
.njba-flip-box-wrap.njba-style-1 h1 {font-size: 20px;padding: 10px 0;font-weight: normal;}
.njba-style-1 .njba-content-grid-contant.njba-content-grid-contant_section { background-color: rgba(15, 181, 179, 1); bottom: 0;left: 0;position: absolute;right: 0;text-align: center;top: 0;z-index: 1;padding: 10px;transform: scaley(0);opacity: 0;transition: all 0.3s;}
.njba-style-1 .njba-content-grid:hover .njba-content-grid-contant.njba-content-grid-contant_section{opacity:1;transform:scaley(1);}
.njba-style-1 .njba-content-grid-contant.njba-content-grid-contant_section .njba-content-grid-vertical-center{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}
.njba-style-1 .njba-content-grid-contant.njba-content-grid-contant_section .njba-content-grid-contant-sub {
    display: table;
    height: 100%;
    width: 100%;
}
/*Pagination**/
.njba-pagination {float: left;width: 100%;}
.njba-pagination ul.page-numbers {list-style: none;margin: 0;padding: 0;text-align: center;}
.njba-pagination ul.page-numbers li {display: inline-block;list-style: none;margin: 0;padding: 0;}
.njba-pagination li a.page-numbers:hover,
.njba-pagination li span.current{background: #f5f5f5;text-decoration: none;}
.njba-pagination li a.page-numbers,
.njba-pagination li span.page-numbers {border: 1px solid #e6e6e6;display: inline-block;padding: 5px 10px;margin: 0 0 5px;}
@media (max-width: 990px){
.njba-blog-posts-col-2 { width: 50%;float: left; }
.njba-blog-posts-col-5 { width: 50%;float: left; }
.njba-blog-posts-col-3 { width: 50%;float: left; }
.njba-blog-posts-col-4 { width: 50%; float: left;}
.njba-blog-posts-col-6 { width: 50%; float: left;}
}
@media (max-width: 767px){
.njba-blog-posts-col-2 { width: 100%;float: left; }
.njba-blog-posts-col-5 { width: 100%;float: left; }
.njba-blog-posts-col-3 { width: 100%;float: left; }
.njba-blog-posts-col-4 { width: 100%; float: left;}
.njba-blog-posts-col-6 { width: 100%; float: left;}
}