.fl-builder-edit .njba-flip-box-wrap{
    pointer-events: none;
}
.njba-face {
    opacity: 0;
}
.njba-flip-box-wrap {
    display: block;
    text-align: center;
    position: relative;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px
}
.njba-flip-box-wrap .njba-flip-box {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d
}
.njba-flip-box-wrap .njba-flip-box {
    height: 100%;
    position: relative;
    display: block;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.njba-flip-box-wrap .njba-back,
.njba-flip-box-wrap .njba-front {
    padding: 0;
    height: 100%;
    margin-bottom: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-duration: 800ms;
    -moz-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    -ms-transition-duration: 800ms;
    transition-duration: 800ms;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.njba-flip-box-wrap .njba-front {
    z-index: 9;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden
}
.njba-flip-box-wrap .njba-front * {
 -webkit-backface-visibility: hidden;
 -moz-backface-visibility: hidden;
 -o-backface-visibility: hidden;
 -ms-backface-visibility: hidden;
 backface-visibility: hidden;
}
.njba-flip-box-wrap .njba-back {
    position: absolute;
    top: 0;
    z-index: -1
}
.njba-flip-box-wrap:hover .njba-back {
    z-index: 1
}
.njba-flip-box-wrap .njba-flip-box .njba-face-text-title,
.njba-flip-box-wrap .njba-flip-box .njba-back-text-title {
    display: block;
}
.njba-flip-box-wrap .njba-back .njba-back-flip-box-section-content {
    overflow: hidden
}
.njba-flip-box-wrap .njba-flip-box-section-content * {
    margin: 0;
}
.njba-flip-box-wrap .njba-back .njba-back-flip-box-section-content * {
    margin: 0;
}
.njba-flip-box-wrap .flip_link {
    display: block;
    position: relative
}
.njba-flip-box-wrap .flip_link a {
   
    display: inline-block;
    margin: 10px auto 0;
    padding: .3em .6em;
    text-decoration: none;
    cursor: pointer;
   
}
.njba-flip-box-wrap .flip_link a:active,
.njba-flip-box-wrap .flip_link a:hover,
.njba-flip-box-wrap .flip_link a:visited {
    text-decoration: none;
}
.njba-flip-box-wrap .ifb-auto-height .njba-face {
    overflow: hidden
}
.njba-custom-height .njba-face {
    height: 100%;
}
.njba-flip-box-wrap .ifb-auto-height .njba-face .ifb-desc-back,
.njba-flip-box-wrap .njba-custom-height .njba-face .ifb-desc-back {
    max-height: 45%;
    max-height: -webkit-calc(100% - 55px);
    max-height: -moz-calc(100% - 55px);
    max-height: calc(100% - 55px);
    position: relative;
    overflow: hidden
}
.njba-flip-box-wrap .njba-jq-height .njba-back p {
    max-height: 100%;
    overflow: visible;
    display: block
}
.njba-flip-box-wrap .njba-jq-height .njba-back {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    bottom: 0
}
 
.njba-flip-box-wrap .horizontal_flip_left .njba-hover .njba-back,
.njba-flip-box-wrap .horizontal_flip_right .njba-front,
.njba-flip-box-wrap .horizontal_flip_right .njba-hover .njba-back,
.njba-flip-box-wrap .horizontal_flip_left .njba-front {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}
.njba-flip-box-wrap .horizontal_flip_left .njba-hover .njba-front,
.njba-flip-box-wrap .horizontal_flip_right .njba-back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg)
}
.njba-flip-box-wrap .horizontal_flip_left .njba-back, 
.njba-flip-box-wrap .horizontal_flip_right .njba-hover .njba-front {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
}
.njba-flip-box-wrap .vertical_flip_bottom .njba-hover .njba-back,
.njba-flip-box-wrap .vertical_flip_top .njba-hover .njba-back,
.njba-flip-box-wrap .vertical_flip_top .njba-front, 
.njba-flip-box-wrap .vertical_flip_bottom .njba-front{
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg)
}
.njba-flip-box-wrap .vertical_flip_top .njba-back, 
.njba-flip-box-wrap .vertical_flip_bottom .njba-hover .njba-front {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg)
}
.njba-flip-box-wrap .vertical_flip_bottom .njba-back,
.njba-flip-box-wrap .vertical_flip_top .njba-hover .njba-front {
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    transform: rotateX(-180deg)
}
.njba-flip-box-wrap .njba-back,
.njba-flip-box-wrap .njba-front {
    display: block;
    width: 100%
}
.njba-flip-box-section {
    display: block;
    position: relative;
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
}
.njba-flip-box-section.njba-flip-box-section-vertical-middle {
    vertical-align: middle !important;
    top: 50%;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%)
}
