.notice.notice-info.is-dismissible.woo-info {
    width: 100%;
    display: inline-block;
}
.notice.notice-info.woo-info a {
    font-weight: bold;
    margin: 0 5px 0 0;
}
.info-image {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    max-width: 180px;
}
.info-image img {
    width: 100%;
}
.info-descriptions {
    float: left;
    width: 70%;
}
.njba-admin-settings-section {
    margin-top: 30px;
}
.njba-upgrade-section img {
    width: 65%;
}
h1.njba-admin-settings-heading span {
    vertical-align: middle;
}
h1.njba-admin-settings-heading img {
    height: 70px;
    margin-right: 5px;
    vertical-align: middle;
}
h1.njba-admin-settings-heading {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 4px;
    line-height: 29px;
}
.njba-admin-settings-nav {
    margin: 15px 0px 0 0px;
    width: 100%;
}
.njba-admin-settings-nav ul {
    display: inline-block;
    width: 70%;
    margin-bottom: 0;
}
.njba-admin-settings-nav ul li {
    text-align: center;
    margin: 0;
    width: 20%;
    float: left;
    padding: 0px 0px;
}
.njba-admin-settings-nav ul li a {
    margin: 0 20px 0 0;
    display: block;
    padding: 13px 0px;
    text-decoration: none;
    background: #323232;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    border-top: 2px solid #323232;
    border-bottom: 4px solid #FFB200;
}
.njba-admin-settings-nav ul li a.fl-active {
    background: #fff;
    color: #323232;
    border: 2px solid #323232;
    box-shadow: none;
    font-weight: 500;
}
.njba-settings-content {
    float: left;
    width: 100%;
}
#njba-cloud-templates-inner ul.njba-filter-links {
    display: inline-block;
    margin: 0;
}
ul.njba-filter-links li {
    display: inline-block;
    margin-right: 20px;
}
#njba-cloud-templates-inner .njba-fetch-templates {
    display: inline-block;
    float: right;
}
div#njba-cloud-templates-inner {
    padding: 15px 20px;
}
.njba-templates-showcase-page-templates ul.njba-templates-filter {
    display: inline-block;
}
.njba-templates-showcase-page-templates ul.njba-templates-filter li {
    float: left;
    margin-right: 5px;
}
.njba-templates-showcase-page-templates ul.njba-templates-filter li a {
    background-color: #212121;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    border: 2px solid #212121;
    text-transform: capitalize;
}
.njba-templates-showcase-page-templates ul.njba-templates-filter li a.active {
    border: 2px solid #212121;
    color: #212121;
    font-weight: 500;
    background-color: #fff;
    box-shadow: none;
}
#njba-cloud-templates-inner .njba-filter-links li a {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
}
.njba-templates-page-templates .njba-template-block,
.njba-templates-sections .njba-template-block {
    width: 25%;
    float: left;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}
/*.njba-template-block .njba-template{
    margin: 10px;
}*/
.njba-template-info {
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    background-color: #ececec;
    margin-top: 5px;
    border: 1px solid #c7c7c7;
}
.njba-template-info h2.njba-template-name {
    float: left;
    margin: 0;
    line-height: 28px;
}
.njba-template .njba-template-screenshot .template_preview {
    color: #000;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0;  
    transition: all 0.6s;
    margin-top: -25px;
}
.njba-template-info .njba-template-actions {
    float: right;
    margin: 0;    
}
.njba-template-block .njba-template .njba-template-screenshot {
    height: 380px;
    position: relative;
    overflow: hidden;
    border: 1px solid #c7c7c7;
}
div#njba-templates-page-templates,
#njba-templates-sections {
    padding: 0px -10px;
    width: 100%;
}
.njba-templates-page-templates .njba-template-block .njba-template-screenshot img,
.njba-templates-sections .njba-template-block .njba-template-screenshot img  {
    width: 100%;
}
.njba-template .njba-template-screenshot .template_preview i {
    /*background-color: #FEAA26;*/
    border-radius: 50%;
    box-shadow: 0 8px 8px -6px rgba(0,0,0,.15);
    color: #FEAA26;
    width: 50px;
    height: 50px;
    font-size: 26px;
    line-height: 50px;
    border: 3px solid #FEAA26;
}
.njba-template-block .njba-template .njba-template-screenshot:before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
}
.njba-template-block .njba-template .njba-template-screenshot:hover .template_preview{
    opacity: 1;
}
.njba-template-block .njba-template .njba-template-screenshot:hover::before{
    background-color: rgba(0, 0, 0, 0.70);
}
.njba-cloud-process[data-operation="remove"], .njba-cloud-process[data-operation="remove"]:hover {
    background: #FB5756;
    border-color: #FB5756;
    -webkit-box-shadow: 0 1px 0 #FB5756;
    box-shadow: 0 1px 0 #FB5756;
    text-shadow: 0 -1px 1px #ec5e2e, 1px 0 1px #9e3613, 0 1px 1px #d54e21, -1px 0 1px #b9461f;
    display: none;
}
.njba-template:hover .njba-cloud-process[data-operation="remove"]{
    display: block;
} 
.njba-template:hover .njba-template-info .njba-template-actions .njba-installed-btn{
    display: none;
}
.njba-template-info .njba-template-actions .njba-installed-btn {
    color: #212121;
    font-weight: 500;
    background: #B5DA2A;
    border-color: #B5DA2A;
    -webkit-box-shadow: 0 1px 0 #B5DA2A;
    box-shadow: 0 1px 0 #8fa53c;
    text-shadow: 0 -1px 1px #B5DA2A, 1px 0 1px #94ad39, 0 1px 1px #B5DA2A, -1px 0 1px #B5DA2A;
}
.njba-cloud-process[data-operation="download"], .njba-cloud-process[data-operation="download"]:hover {
    background: #323232;
    border-color: #323232;
    -webkit-box-shadow: 0 1px 0 #323232;
    box-shadow: 0 1px 0 #101010;
    text-shadow: 0 -1px 1px #323232, 1px 0 1px #232323, 0 1px 1px #323232, -1px 0 1px #323232;
}
#fl-njba-welcome-form h3.fl-settings-form-header {
    font-size: 26px;
    color: #212121;
    margin: 25px 0px 10px;
    line-height: 40px;
}
div#fl-njba-license-form {
    max-width: 430px;
}
span.njba-license-error {
    display: block;
    padding: 10px 20px;
    background: #d54e21;
    color: #fff;
}
.njba-columan-box-sub {
    border: 1px solid #ddd;
    padding:5px 15px 20px 15px;
    background-color: #fff;
    min-height: 200px;
}
.njba-columan-box {
    float: left;
    padding: 10px;
    width: 23%;
    /* background-color: #fff; */
}
.njba-extensions-list-settings, .njba-addons-list-sections {
    width: 100%; 
     display: inline-block; 
}        
h1.njba-admin-settings-heading {
    padding: 15px 10px 10px;
}
.njba-addons-list-sections .njba-columan-box-sub{
    border: 1px solid #ddd;
    background-color: #fff;
    min-height: 240px;
    padding:0px;
}
.njba-addons-list-sections .njba-info {
    padding: 30px;
    display: inline-block;
}
.njba-addons-list-sections img.njba-image-responsive {
    display: block;
}
.njba-addons-list-sections .njba-info-image img {
    float: left;
    margin-top: 5px;
}
.njba-addons-list-sections .njba-info-image h3 {
    font-size: 26px;
    font-weight: 600;
    float: left;
    font-family: 'Lato', sans-serif;
    margin: 0 0 0 20px;
    color: #505050;
    line-height: 29px;
}
.njba-addons-list-sections .njba-info-dis {
    width: 100%;
    float: left;
}
.njba-addons-list-sections .njba-info-dis p {
    float: left;
    margin-top: 15px;
    font-weight: normal;
    line-height: 21px;
    color: #303030;
    width: 100%;
    min-height: 65px;
}
a.njba-purchase-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #FFB200;
    color: #000000;
    text-decoration: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
}
a.njba-purchase-btn:hover {
     background: #000000;
     color: #FFB200;
}
h4.njba-already-purchase-btn {
    font-size: 16px;
    font-weight: 600;
    color: #008000;
}
.njba-count {
    font-size: 150px;
    color: #e0e0e0;
    display: block;
    font-weight: 600;
    font-family: Questrial;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#njba-cloud-templates-sections h2.njba-template-name {
    background: transparent;
    position: absolute;
    width: 100%;
    line-height: 1.3em;
    top: 50%;
    left: 50%;
    color: #23282d;
    font-size: 30px;
    margin: 0;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.njba-columan-box {
    float: left;
    padding: 10px;
    width: 25%;
    /* background-color: #fff; */
    box-sizing: border-box;
}
@media (max-width:1440px){
    .njba-addons-list-sections .njba-info {
        min-height: 230px;
    }
    .njba-addons-list-sections .njba-info-image h3 {font-size: 20px;float: none;margin-left:45px;}
    .njba-addons-list-sections .njba-info-image img {
        max-width: 35px;
        margin-right: 10px;
    }
}
@media (max-width:1024px){
.njba-columan-box {
    width: 33.33%;
}
}
@media (max-width:767px){
.njba-columan-box {
    width: 50%;
}
}
@media (max-width:575px){
.njba-columan-box {
    width: 100%;
}
}