.njba-tabs a, .njba-tabs a:hover , .njba-tabs a:focus , .njba-tabs a:active{
		text-decoration:none;	
		outline:none;
}
.njba-tabs .tab-align-center {
    text-align: center;
}
.njba-tabs .tab-align-right {
    text-align: right;
}
.njba-tabs .tab-align-left {
    text-align: left;
}
.njba-tabs.njba-tab-section-main .tab-align-center .njba-tabs-nav .njba-tabs-label {
    display: inline-block;
    float: none;
}
.njba-tabs-panel-content.njba-tab-active {
  display: block;
}
.tab-align-right .njba-tabs-nav {
  float: right;
}
.njba-tab-menu-main {
  float: left;
  width: 100%;
}
.njba-tabs-panel-content {
  clear: both;
  display: none;
  padding: 30px;
}
.njba-tabs-label {
  cursor: pointer;
  float: left;
}
.njba-tabs-style-5 .tab-align-left .njba-tabs-label, .njba-tabs-style-5 .tab-align-right .njba-tabs-label, .njba-tabs-style-5 .tab-align-center .njba-tabs-label {
  width: auto;
}
.njba-tabs-style-5 .tab-align-left .njba-tabs-nav, .njba-tabs-style-5 .tab-align-right .njba-tabs-nav, .njba-tabs-style-5 .tab-align-center .njba-tabs-nav {
  display: inline-block;
}
.icon-align-top .njba-tabs-icon, .icon-align-bottom .njba-tabs-icon {
  display: block;
}
.njba-tabs-nav .njba-tabs-label{padding:0;}
.njba-tabs .njba-tabs-nav .njba-tabs-label .njba-tab-label-inner{
	transition:all 0.3s;
}
.njba-tabs .njba-tabs-nav::after {
    clear: both;
    content: "";
    display: table;
}
.njba-tabs-labels {
    position: relative;
    z-index: 1;
}
.njba-tabs.njba-tabs-style-6 .njba-tabs-nav .njba-tabs-label {
  float: left;
  width: auto;
}
.njba-tabs.njba-tabs-style-8 .njba-tabs-label{
  width:100%;
}
/*layout-2*/
.njba-tabs.njba-tabs-style-2 .njba-tabs-nav .njba-tabs-label{
	width:100%;
	float:left;
}
.njba-tabs.njba-tabs-style-2 .njba-content{
    width: 100%;
}
.njba-tabs .njba-tabs-label .icon-align-left .njba-tabs-icon{
  margin-right: 20px;
}
.njba-tabs .njba-tabs-label .icon-align-right .njba-tabs-icon{
  margin-left: 20px;
}
.njba-tabs .njba-tabs-label .icon-align-top .njba-tabs-icon{
  margin-bottom: 20px;
}
.njba-tabs .njba-tabs-label .icon-align-bottom .njba-tabs-icon{
  margin-top: 20px;
}
.njba-tabs .njba-tabs-nav .njba-tabs-label.njba-tab-active.hover_icon_class .njba-tab-label-inner i{
	transform:translate(10px,0);	
	opacity:1;
	}
.njba-tabs .hover_icon_class .njba-tabs-icon i{
	opacity:0;
	display: inline-block;
	transition:all 0.5s;
	transform:translate(0px,0);
	}
.njba-tabs .njba-tabs-nav .njba-tabs-label.hover_icon_class .njba-tab-label-inner:hover i{
	opacity:1;	
	transform:translate(10px,0);
	}
.njba-tabs .njba-tabs-nav .njba-tabs-label.njba-tab-active.hover_title_class .njba-tab-label-inner .njba-tab-title{
    transform:translate(10px,0);    
    opacity:1;
    }
.njba-tabs .hover_title_class .njba-tab-title{
    opacity:0;
    display: inline-block;
    transition:all 0.5s;
    transform:translate(0px,0);
    }
.njba-tabs .njba-tabs-nav .njba-tabs-label.hover_title_class .njba-tab-label-inner:hover .njba-tab-title{
    opacity:1;  
    transform:translate(10px,0);
}
/*layout-4*/
.njba-tabs .njba-pull-right {
  float: right;
}
.njba-tabs.njba-tabs-style-4 .njba-tabs-nav .njba-tabs-label{
	width:100%;
	float:left;
}
.njba-tabs-nav .njba-tabs-label .njba-tab-label-inner{
	position: relative;	
}
.njba-tabs.njba-tabs-style-5 .njba-tabs-nav .njba-tabs-label{
	display:inline-block;	
	float:left;
	position: relative;
	}
.njba-tabs .njba-tabs-label.njba-tab-active .njba-icon-separator{  
    border-style: solid;
    bottom: 0;
    content: "";
    display: block;
    height: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transform: translate(0%, 100%);
    width: 0;
    border-width: 0;
}
.njba-tabs.njba-tabs-style-2 .njba-tabs-label.njba-tab-active .njba-icon-separator {
  border-style: solid; 
  bottom: 0;
  content: "";  
  height: 0;
  left: auto;
  margin: -5px auto 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(100%, -40%);
  width: 0;
}
.njba-tabs.njba-tabs-style-4 .njba-tabs-label.njba-tab-active .njba-icon-separator {
  border-style: solid;
  bottom: 0;
  content: "";
  height: 0;
  left: 0;
  margin: -5px auto 0;
  position: absolute;
  right: auto;
  top: 50%;
  transform: translate(-100%, -40%);
  width: 0;
}
/*3*/
.njba-tabs.njba-tabs-style-3 .njba-tabs-nav, .njba-tabs.njba-tabs-style-1 .njba-tabs-nav, .njba-tabs.njba-tabs-style-6 .njba-tabs-nav {
  display: flex;
  flex-flow: row wrap;
    justify-content: center;
}
.njba-tabs.njba-tabs-style-3 .njba-tabs-label, .njba-tabs.njba-tabs-style-1 .njba-tabs-label, .njba-tabs.njba-tabs-style-6 .njba-tabs-label {
  flex: 1 1 auto;
}
.njba-tabs.njba-tabs-style-3 .njba-tabs-nav .njba-tabs-label, .njba-tabs.njba-tabs-style-1 .njba-tabs-nav .njba-tabs-label, .njba-tabs.njba-tabs-style-6 .njba-tabs-nav .njba-tabs-label{
	float:left;
	width:auto;
}
.njba-tabs.njba-tabs-style-3 .njba-tabs-nav{
  display: inline-block;
}
.njba-tabs.njba-tabs-style-3 .njba-tabs-panel-content {  
    width: 100%;
}
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav .njba-tabs-label{
  float:left;
  width:auto;
}
.njba-tabs.njba-tabs-style-7 .njba-tabs-panel-content {  
    width: 100%;
}
/*layout 6*/
.njba-tabs.njba-tabs-style-6 .njba-tab-menu-main{	
	width:100%;
	display:inline-block;	
	}
.njba-tabs.njba-tabs-style-6 .njba-tab-menu-right .njba-tabs-nav{
	float:right;
	}
.njba-tabs.njba-tabs-style-6 .njba-tabs-nav{
	display:inline-block;
	}
.njba-tabs.njba-tabs-style-6 .njba-tabs-panel-content  {
    width: 100%;
}
/**/
.njba-col-xs-1 , .njba-col-xs-2 , .njba-col-xs-3 , .njba-col-xs-4 , .njba-col-xs-5 , .njba-col-sm-1 , .njba-col-sm-2 , .njba-col-sm-3 , .njba-col-sm-4 , .njba-col-sm-5 , .njba-col-md-1 , .njba-col-md-2 , .njba-col-md-3 , .njba-col-md-4 , .njba-col-md-5 , .njba-col-lg-1 , .njba-col-lg-2 , .njba-col-lg-3 , .njba-col-lg-4 , .njba-col-lg-5, .njba-col-xs-8, .njba-col-sm-8, .njba-col-md-8, .njba-col-lg-8 , .njba-col-xs-6, .njba-col-sm-6, .njba-col-md-6, .njba-col-lg-6, .njba-col-xs-7, .njba-col-sm-7, .njba-col-md-7, .njba-col-lg-7{float:left;padding:0 15px;}	
@media ( max-width: 767px ){
	.njba-tabs.njba-tabs-style-1 .njba-tabs-nav .njba-tabs-label{width:100%;} 
	.njba-tabs.njba-tabs-style-6 .njba-tabs-nav{width:100%;} 
	.njba-tabs.njba-tabs-style-6 .tab-align-right .njba-tabs-nav .njba-tabs-label{
  	float:right;
  	width:auto;
  }
}
@media ( min-width: 320px )max{
    .njba-col-xs-1 { width:100%; }
    .njba-col-xs-2 { width:50%; }
    .njba-col-xs-3 { width:33.33%; }
    .njba-col-xs-4 { width:25%; }
    .njba-col-xs-5 { width:20%; }
    .njba-col-xs-6{ width:16.66%; }
    .njba-col-xs-7{ width:14.28%; }
    .njba-col-xs-8{ width:75%; } 
}
@media ( max-width: 767px ){
	.njba-tabs-nav .njba-tabs-label{width:100% !important;}
}
@media ( min-width: 768px ){
    .njba-col-sm-1{ width:100%; }
    .njba-col-sm-2{ width:50%; }
    .njba-col-sm-3{ width:33.33%; }
    .njba-col-sm-4{ width:25%; }
    .njba-col-sm-5{ width:20%; }
    .njba-col-sm-6{ width:16.66%; }
    .njba-col-sm-7{ width:14.28%; }
    .njba-col-sm-8{ width:75%; }
}
@media ( min-width: 992px ){
    .njba-col-md-1{ width:100%; }
    .njba-col-md-2{ width:50%; }
    .njba-col-md-3{ width:33.33%; }
    .njba-col-md-4{ width:25%; }
    .njba-col-md-5{ width:20%; }
    .njba-col-md-6{ width:16.66%; }
    .njba-col-md-7{ width:14.28%; }
    .njba-col-md-8{ width:75%; } 
}
@media ( min-width: 1200px ){
    .njba-col-lg-1{ width:100%; }
    .njba-col-lg-2{ width:50%; }
    .njba-col-lg-3{ width:33.33%; }
    .njba-col-lg-4{ width:25%; }
    .njba-col-lg-5{ width:20%; }
    .njba-col-lg-6{ width:16.66%; }
    .njba-col-lg-7{ width:14.28%; }
    .njba-col-lg-8{ width:75%; }       
}