/*Magnificpopup*/
.admin-bar .mfp-wrap .mfp-close, 
.admin-bar .mfp-wrap .mfp-close:active, 
.admin-bar .mfp-wrap .mfp-close:hover, 
.admin-bar .mfp-wrap .mfp-close:focus{position: fixed;right: 30px;cursor: pointer !important;}
.admin-bar .mfp-bottom-bar{top: auto;bottom: -25px;}
.admin-bar .mfp-counter {display: block;}
/*center-arrow-side*/
.njba-gallery-section{position: relative;}
.njba-gallery-main img.njba-image-responsive {width: 100%;}
.njba-gallery-wrapper a.njba-image-carousel {text-decoration: none;}
.njba-gallery-main .njba-image-box-img {position: relative;overflow: hidden;}
.njba-gallery-main .njba-gallery-box{position:relative;overflow: hidden;}
.njba-gallery-main .njba-image-box-overlay {background-color: rgba(0, 0, 0, 0.5);bottom: 0;left: 0;position: absolute;right: 0;top: 0;z-index: 1;opacity: 0;transform: scaleY(0);transition: all 0.3s;}
.njba-gallery-main .njba-gallery-box:hover .njba-image-box-overlay {opacity: 1;transform: scaleY(1);}
.njba-image-box-content {display: table;height: 100%;width: 100%;}
.njba-image-box-content h2.njba-caption{display: table-cell;height: 100%;vertical-align:middle;text-align:center;color:#fff;font-size:18px;font-weight:500;width: 100%;text-transform: capitalize;}
.njba-gallery-main .njba-video_overlay{display: none;}
.njba-gallery-main .njba-image-box-content.njba-image-box-hover i {display: table-cell;vertical-align: middle;width: 100%;height: 100%;text-align: center;font-size: 30px;color: #ffffff;}
.njba-gallery-main .njba-gallery-box:hover .njba-image-box-img img.zoom-in.njba-image-responsive {transform: scale(2);}
.njba-gallery-main .njba-gallery-box .njba-image-box-img img.zoom-in.njba-image-responsive {transition: all 10s;}
.njba-gallery-main .njba-gallery-box:hover .njba-image-box-img img.zoom-out.njba-image-responsive {transform: scale(1);}
.njba-gallery-main .njba-gallery-box .njba-image-box-img img.zoom-out.njba-image-responsive {transition: all 2s linear;transform: scale(2);}
.njba-gallery-main .njba-gallery-box:hover .njba-image-box-overlay.rotate-right { opacity: 1;transform: scale(1) rotate(360deg);}
.njba-gallery-main .njba-image-box-overlay.rotate-right {transform: scale(0) rotate(0deg);}
.njba-gallery-main .njba-gallery-box:hover .njba-image-box-overlay.rotate-left { opacity: 1;transform: scale(1) rotate(-360deg);}
.njba-gallery-main .njba-image-box-overlay.rotate-left {transform: scale(0) rotate(0deg);}
/***Outside Below about photo Caption****/
.njba-image-box-content.outside_below h2.njba-caption{color:#000000;text-transform: capitalize;    margin: 0;}
.njba-image-box-content.outside_below { background-color: rgba(0, 0, 0, 0.5); bottom: 0; left: 0; padding: 10px 15px; right: 0; height: 100%;transition: all 0.3s;z-index: 2; position: relative;}
/***Outside Below about photo Caption****/
.njba-image-box-content.outside_top h2.njba-caption{color:#000000;text-transform: capitalize;    margin: 0;}
.njba-image-box-content.outside_top { background-color: rgba(0, 0, 0, 0.5); bottom: 0; left: 0; padding: 10px 15px; right: 0; height: 100%;transition: all 0.3s;z-index: 2; position: relative;}
/***Inside top about photo Caption****/
.njba-image-box-content.inside_top	 h2.njba-caption{color:#000000;text-transform: capitalize;    margin: 0;}
.njba-image-box-content.inside_top { background-color: rgba(0, 0, 0, 0.5); top: 0; left: 0; padding: 10px 15px; right: 0; height: 100%;position: absolute;z-index: 1;transition: all 0.3s;}
/***Inside Bottom about photo Caption****/
.njba-image-box-content.inside_below	 h2.njba-caption{color:#000000;text-transform: capitalize;    margin: 0;}
.njba-image-box-content.inside_below { background-color: rgba(0, 0, 0, 0.5); bottom: 0; left: 0; padding: 10px 15px; right: 0; height: 100%;position: absolute;transition: all 0.3s;}
.njba-gallery-box:hover .njba-image-box-content.inside_top,
.njba-gallery-box:hover .njba-image-box-content.inside_below{opacity: 0;}
.njba-image-box-content.njba-image-box-hover {display: table;height: 100%;width: 100%;}
.njba-image-box-content.njba-image-box-hover h3 {display: table-cell;height: 100%;vertical-align: middle;width: 100%;}