.fl-form-table #fl-field-testimonial_layout {
    display: block;
    width: 100%;
}
.fl-form-table #fl-field-testimonial_layout td {
    display: block;
    width: 100%;
}
.fl-form-table #fl-field-testimonial_layout th,
.fl-form-table #fl-field-testimonial_layout td input {
    display: none;
}
.fl-form-table #fl-field-testimonial_layout td label.selected {
	outline: 2px solid #5b9dd9;
}
.njba-field-wrap {
	display: inline-block;
	width: 32%;
}
.njba-label.testimonial_layout {
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    min-height: 150px;
    cursor: pointer;
    outline: 1px solid #eee;
    background-size: contain;
    width: 100%;
}
.njba-label.testimonial_layout span {
    display: none;
}
.fl-form-table #fl-field-testimonial_layout td .njba-option-1 {
    background-image: url(../images/layout-1.jpg);
}
.fl-form-table #fl-field-testimonial_layout td .njba-option-2 {
    background-image: url(../images/layout-2.jpg);
}
.fl-form-table #fl-field-testimonial_layout td .njba-option-3 {
    background-image: url(../images/layout-3.jpg);
}
.fl-form-table #fl-field-testimonial_layout td .njba-option-4 {
    background-image: url(../images/layout-4.jpg);
}
.fl-form-table #fl-field-testimonial_layout td .njba-option-5 {
    background-image: url(../images/layout-5.jpg);
}
.fl-form-table #fl-field-testimonial_layout td .njba-option-6 {
    background-image: url(../images/layout-6.jpg);
}
.fl-form-table #fl-field-testimonial_layout td .njba-option-7 {
    background-image: url(../images/layout-7.jpg);
}
.fl-form-table #fl-field-testimonial_layout td .njba-option-8 {
    background-image: url(../images/layout-8.jpg);
}
.fl-form-table #fl-field-testimonial_layout td .njba-option-9 {
    background-image: url(../images/layout-9.jpg);
}
label.njba-label.njba-option-3.testimonial_layout,
label.njba-label.njba-option-3.testimonial_layout.selected,
label.njba-label.njba-option-4.testimonial_layout,
label.njba-label.njba-option-4.testimonial_layout.selected,
label.njba-label.njba-option-6.testimonial_layout,
label.njba-label.njba-option-6.testimonial_layout.selected,
label.njba-label.njba-option-7.testimonial_layout,
label.njba-label.njba-option-7.testimonial_layout.selected,
label.njba-label.njba-option-8.testimonial_layout,
label.njba-label.njba-option-8.testimonial_layout.selected,
label.njba-label.njba-option-9.testimonial_layout,
label.njba-label.njba-option-9.testimonial_layout.selected{
    cursor: not-allowed;
}
.fl-form-table #fl-field-testimonial_layout td label.njba-label.njba-option-3.testimonial_layout.selected,
.fl-form-table #fl-field-testimonial_layout td label.njba-label.njba-option-4.testimonial_layout.selected,
.fl-form-table #fl-field-testimonial_layout td label.njba-label.njba-option-6.testimonial_layout.selected,
.fl-form-table #fl-field-testimonial_layout td label.njba-label.njba-option-7.testimonial_layout.selected,
.fl-form-table #fl-field-testimonial_layout td label.njba-label.njba-option-8.testimonial_layout.selected,
.fl-form-table #fl-field-testimonial_layout td label.njba-label.njba-option-9.testimonial_layout.selected {outline: 1px solid #eee;}