.njba-column-12{width: 100%;float: left;padding:0 15px;}
.njba-column-6{width: 50%;float: left;padding:0 15px;}
.njba-column-4{width: 33.33%;float: left;padding:0 15px;}
.njba-column-3{width: 25%;float: left;padding:0 15px;}
.njba-column-2{width: 16.66%;float: left;padding:0 15px;}
.njba-logo-grid-wrapper .njba-column-12:last-child,
.njba-logo-grid-wrapper .njba-column-6:last-child,
.njba-logo-grid-wrapper .njba-column-4:last-child,
.njba-logo-grid-wrapper .njba-column-3:last-child,
.njba-logo-grid-wrapper .njba-column-2:last-child{float: left;}
/*Bx slider arrows*/
.njba-logo-carousel-main .bx-wrapper .bx-next i,
.njba-logo-carousel-main .bx-wrapper .bx-prev i{display: block;text-align: center;line-height: 37px;}
.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next,
.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {height: 40px; margin-top: -20px;outline: 0 none;position: absolute;top: 50%;width: 40px;z-index: 99;font-size: 35px;background: #000000;text-indent: 0;
    line-height: 40px;display: block;color: #ffffff;}
.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next {right: 0;}
.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {left: 0;}
.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a:active,
.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a:focus,
.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a:hover {text-decoration: none;}
.njba-logo-grid-main .njba-logo-inner,
.njba-logo-carousel-main .njba-logo-inner {width: 100%;height: 230px;display: table;}
.njba-logo-grid-main .njba-logo-inner-wrap ,
.njba-logo-carousel-main .njba-logo-inner-wrap{display: table-cell;vertical-align: middle;width: 100%;text-align: center;height: 100%;}
img.njba-image-responsive {max-width: 170px;margin: 0 auto;}
.njba-logo-inner {background: #f4f4f4;border: 1px solid #e0e0e0;}
.njba-logo-title {margin-bottom: 0;margin-top: 5px;line-height: normal;text-transform: capitalize;}
/* Media Query */ 
@media (max-width: 990px){
	.njba-column-6{width: 50%;}
	.njba-column-3{width: 50%;}
	.njba-column-4{width: 50%;}
	.njba-column-2{width: 50%;}
	
}
@media (max-width: 768px){
	
}
@media (max-width: 767px){
	.njba-column-6{width: 100%;}
	.njba-column-3{width: 100%;}
	.njba-column-4{width: 100%;}
	.njba-column-2{width: 100%;}
	
}